*~
properties
.classpath
.project
.settings/
.idea/
atlassian-ide-plugin.xml
*.mine
target
.idea/
*.iml
*.ipr
*.iws
nbactions.xml
project
!project/build
*.war
*.log
.DS_Store
*.class
*.log.gz
fos-server/lib
